* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    border-style: none;
}

html {
    /* O normal é 1rem = 16px (User Agent) = 100% (User Agent)  ----> O padrão passa a ser 10px que fica 1rem quando mudamos o font-size para 62.5% */
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* ===== container =====*/

.container {
    height: 100%;
    width: 100%;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

/* ===== header =====*/

header {
    height: 5rem;
    background: rgb(136, 0, 0);
}

header h1 {
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 3rem;
    padding-left: 4rem;
}
header h1 #tem {
    font-family: 'Redressed', cursive;
    color: rgb(255, 255, 255);
}

/* ===== div-contador ===== */

#contador {
    height: 15vh;
    background: rgba(0, 0, 0, 1);
}

/* ===== div-form ===== */

#div-form {
    height: 80vh;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:space-between;
    background-image: url(../assets/JPEG/black-brick.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    /* background: rgba(0, 0, 0, .8); */
    padding: 0 15rem;
    margin: auto;
}

#div-form img {
    width: 100%;
}

#div-form .text-and-form {
    display: flex;
    flex-direction: column;
}
#div-form .texts {
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#div-form .texts h2#tudo {
    font-size: 3.5rem;
}

#div-form .texts h2#desconto {
    font-family: 'Sansita', sans-serif;
    font-size: 4.5rem;
}

#div-form .texts p {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.8rem;
    text-align: center;
    margin: 3rem 3rem;
}

#div-form .cadastro {
    background: rgba(0, 0, 0, 0);
    border-radius: 2rem;
    color: #fff;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

#div-form .cadastro form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#div-form .cadastro input {
    width: 45rem;
    height: 4.5rem;
    border-radius: 1rem;
    text-align: center;
    font-size: 2rem;
    margin: 1rem 0;
}

#div-form input.button {
    background: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 2.4rem;
}

/* ===== div-produtos ===== */

#div-produtos {
    background: rgba(0, 0, 0, 1);
    height: 95vh;
}

#div-produtos .gallery{
    padding-top: 15rem;
}

/* ===== footer ===== */

footer {
    height: 5rem;
    background: rgba(0, 0, 0, .2);
    justify-content: center;
}

footer p {
    font-size: 1.4rem;
    text-align: center;
    padding-top: 1rem;
}

/* ===== Media Queries ===== */

@media (max-width: 1280px) {
    #div-form {
        height: 80vh;
        display: flex;
        flex-direction:row;
        align-items: center;
        justify-content:space-between;
        background-image: url(../assets/JPEG/black-brick.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        /* background: rgba(0, 0, 0, .8); */
        padding: 0 5rem;
        margin: auto;
    }
}

@media (max-width: 991px) {
    #div-form {
        height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    #div-form img {
        width: 0;

    }

    #contador {
        height: 13vh;
        background: rgba(0, 0, 0, 1);
    }
}
 @media (max-width: 768px) {
    #div-form {
        height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        
    }
    #div-form img {
        width: 0;
    }
}

@media (max-width: 600px) {
    #div-form {
        height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 3rem;
        
    }
    #div-form img {
        width: 0;
    }
} 